*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
    list-style: none;
}

html,body
{
    height: 100%;
}

.container
{
    display: flex;
    justify-content: space-between;
}

.menu-lateral
{
    width: 20%;
    height: 100%;
    background-color: blue;
    position: fixed;
    transition: all 1s;
    overflow-y: auto;
}

.content-wrapper
{
    width: 80%;
    height: inherit;
    background-color: red;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    transition: all 1s;
    align-items: center;
}

.item
{
    width: 600px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 100px;
}

@media (max-width:1024px)
{
    .container
    {
        display: flex;
        flex-direction: column;
    }

    .menu-lateral
    {
        width: 100%;
        height: 80px;
        overflow-y:hidden;
    }

    .content-wrapper
    {
        margin-left: 0;
        width: 100%;
    }
}